<?php
defined('BASEPATH') OR exit('No direct script access allowed');

/*
|--------------------------------------------------------------------------
|   Email Protocol
|--------------------------------------------------------------------------
|
|
*/
$config['mail_protocol'] = 'smtp';

/*
|--------------------------------------------------------------------------
| Email Host
|--------------------------------------------------------------------------
|
|
*/
$config['mail_host'] = 'ssl://smtp.googlemail.com';

/*
|--------------------------------------------------------------------------
|   Email Port
|--------------------------------------------------------------------------
|
|
*/
$config['mail_port'] = 465;

/*
|--------------------------------------------------------------------------
|   Email username
|--------------------------------------------------------------------------
|
|
*/
$config['mail_user'] = 'test@test.com';

/*
|--------------------------------------------------------------------------
|   Email Password
|--------------------------------------------------------------------------
|
|
*/
$config['mail_password'] = 'secret';

/*
|--------------------------------------------------------------------------
|   Email Type
|--------------------------------------------------------------------------
|
|
*/
$config['mail_type'] = 'html';

/*
|--------------------------------------------------------------------------
|   Email Charset
|--------------------------------------------------------------------------
|
|
*/
$config['mail_charset'] = 'iso-8859-1';

/*
|--------------------------------------------------------------------------
|   Email Sender Name
|--------------------------------------------------------------------------
|
|
*/
$config['mail_sender_name'] = 'TEST';